
.main-container{
    display: flex;
    justify-content: center;
}

.login-text{
    background-color: #060C1F;
    text-align: center;
    color: white;
}

/* Indexjs Page (App name) */

.header-div{
  background-color: #060C1F;
}

.app-name{
    margin-top: 20px;
    font-size: 65px;
}

.app-name:hover {
    text-decoration: underline;
}

.app-name, .description{
    display: flex;
    justify-content: center;
    z-index: 5;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

@media screen and (max-width: 576px) {
    .app-name{
        font-size: 47px;
    }
    .nav-links{
        font-size: 10px;
       padding-bottom: 0px;
       padding-top: 15px;
    }
    .prof-header{
        font-size: 20px;
    }
    .favorites{
        font-size: 18px;
        text-decoration: underline;
    }
    .prof-btn{
       font-size: 10px;
    }
}

@media screen and (max-width: 375px) {
    .app-name{
        font-size: 40px;
    }
}


/* Navigation Page */

.auth-btn {
    background-color: #00439C;
}


/* Questions Page */

.greeting{
    font-size: 28px;
}

.question-form{
    background-color: #060C1F;
    color: white;
    padding: 5px;
    margin: 3px;
    text-align: center;
    border-radius: 5px;
}

.question-form label{
    margin-right: 10px;
}

/* Signup Page */

.signup-form {
    background-color: #060C1F;
    color: white;
}

/* Login Page */



/* Profile Page */

.profile-nav {
width: 100%;
 }

 .profile-nav-collapse {
   width: 100%;
 }
/* footer */
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 4px;
    text-align: center;
    background-color: #060C1F;
    color: white;
  }

     /* Posts */

     .add-friend-container{
        display: flex;
        justify-content: flex-end;
     }

     .form-input {
        width: 100%;
     }

     /* Profile Nav-bar */

     Nav.Link, .side-links{
        color: white;
     }

     .xbox {
        color: #107C10;
     }

     .xbox a{
        color: white;
        background-color: #107C10;
     }

     .xbox h1 {
        background-color: #107C10;
        color: white;
     }

     .xbox .card-header{
        background-color: #107C10;
     }

     .xbox .btn {
        background-color: #107C10;
        color: white;
     }

     .playstation {
        color: #00439C;
    }
    
     .playstation a{
        background-color: #00439C;
        color: white;
     }

     .playstation h1 {
        background-color: #00439C;
        color: white
     }

     .playstation .card-header{
        background-color: #00439C;
     }

     .playstation .btn {
        background-color: #00439C;
        color: white;
     }

     .nintendo{
        color: #e60012;
     }

     .nintendo a {
        background-color: #e60012;
        color: white;
     }

     .nintendo h1 {
        background-color: #e60012;
        color: white;
     }

     .nintendo .card-header {
        background-color: #e60012;
     }

     .nintendo .btn {
        background-color: #e60012;
        color: white;
     }

     .pc {
        color: #5663F7;
     }

     .pc a {
        color: white;
        background-color: #5663F7;
     }

     .pc h1 {
        background-color: #5663F7;
        color: white;
     }

     .pc .card-header {
        background-color: #5663F7;
     }

     .pc .btn {
        color: white;
        background-color: #5663F7;
     }

     .login {
        color: #0ff;
     }

     .signup {
        color: #ffff01;
     }

     .nav-links p:hover {
        text-decoration: underline;
     }

     .post-border{
        border: solid 3px #060C1F;
        border-radius: 8px;
     }

     .join-btn:hover {
        color: #060C1F;
     }

     .nav-links{
        position: sticky;
        top: 0;
        background-color: #060C1F;
        justify-content: center;
        z-index: 5;
        height: 45px;
     }

    .Nintendo-form{
        background-color: #e60012;
        color: white;
        padding: 5px;
        margin: 3px;
        text-align: center;
        border-radius: 5px;
    }

    .Nintendo-border{
        border: solid 3px #e60012;
        border-radius: 7px;
    }

    .Nintendo-icon{
        color: #e60012;
    }

    .Xbox-form{
        background-color: #107C10;
        color: white;
        padding: 5px;
        margin: 3px;
        text-align: center;
        border-radius: 5px;
    }

    .Xbox-border{
        border: solid 3px #107C10;
        border-radius: 7px;
    }

    .Xbox-icon{
        color: #107C10;
    }

    .Playstation-form{
        background-color: #00439C;
        color: white;
        padding: 5px;
        margin: 3px;
        text-align: center;
        border-radius: 5px;
    }

    .Playstation-border{
        border: solid 3px #00439C;
        border-radius: 7px;
    }

    .Playstation-icon{
        color: #00439C;
    }

    .PC-form{
        background-color: #5663F7;
        color: white;
        padding: 5px;
        margin: 3px;
        text-align: center;
        border-radius: 5px;
    }

    .PC-border{
        border: solid 3px #5663F7;
        border-radius: 7px;
    }

    .PC-icon{
        color: #5663F7;
    }



/* -----------------------ACCORDIAN----------------- */
.prof-accordian-item {
    width: max-content;
}

.prof-accordian {
    width: max-content;
}

.prof-accordian-head {
    width: max-content;
}

.prof-accordian-body {
    background-color: #060C1F;
    color: white;
}
.prof-accordian-body h3{
    background-color: #060C1F;
    color: grey;
}

.prof-btn{
    background-color: #060C1F;
    border-color: #060C1F;
    margin-right: 5px;
}

.prof-header{
    background-color: #060C1F;
    color: white;
    border-radius: 2em;
}

.friend-btn{
    background-color: #7081b9;
    color: rgb(247, 247, 247);
    border: rgb(33, 44, 92) 3px ridge;
    float: right;
}

.friend-btn:hover{
    color: #060C1F;
    background-color: rgb(67, 110, 153);
}

.friend-list{
    color: white;

}

.friend-list:hover{
    color: #060C1F;
}
/* -----------------------ACCORDIAN----------------- */


.profile-nav-container {
    border: ridge 10px #060C1F;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #060C1F;
}


.prof-btn{
    border: ridge 10px #060C1F;
    border-radius: 10px;
    background-color: rgb(10, 85, 146);
}

.favorites0 {
    border: ridge 5px #060C1F;
    border-radius: 10px;
    width: 100%;
    margin-right: 150px;
}

.favorites1 {
    border-bottom: ridge 10px #263770;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #060C1F;
    color: white;
}

.friends-card {
    border: ridge rgb(3, 3, 43) 3px;
    background-color: #778596;
}

.trash-icon {
    font-size: 25px;
}