
.main-container{
    display: flex;
    justify-content: center;
    background-color: black;
}

/* .login-container{
    display: flex;
    justify-content: center;
} */

.login-text{
    color: white;
    text-align: center;
}

.login-btn{
    background-color: white;
}





/* Indexjs Page (App name) */

.header-div{
    /* background-color: black; */
}

.app-name{
    margin-top: 20px;
}

.app-name, .description{
    display: flex;
    justify-content: center;
    z-index: 4;
}

.description{
color:rgb(0, 0, 0);
}

.login-and-signup-btn{
    display: flex;
    justify-content: center;
}


/* Navigation Page */

.container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}



/* Questions Page */

.greeting{
    font-size: 28px;
}



/* Profile Page */












/* ----------------START EXPERIMENTAL CODE--------------------------- */

/* .start-helmet{
    max-height: 100vh !important;
    min-height: 100vh !important;
    overflow-y: hidden !important;
} */


#helmet{   
    /* display:flex; */
    /* min-height: 100vh;
    max-width: 100vw; */
    background-size: cover;
    position: fixed;
    z-index: 2;
    opacity: 0.6;
    right: 0;
    bottom: 0;
    margin: 0;
    transform: scaleY(1.04);
    background-color: rgba(255, 255, 255, 0);
    color: black;
    pointer-events: none;
} 

#myVideo {
    pointer-events: none;
    position:absolute;
     position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      opacity: 0.1;
     }


.profile-content{
    width: 90vh;
    height: 90vh;
}


     /* ------------------------END EXPERIMENTAL CODE---------------------- */



     /* Posts */

     .add-friend-container{
        display: flex;
        justify-content: flex-end;
     }



     /* Profile Nav-bar */

     Nav.Link, .side-links{
        color: white;
     }